@font-face {
  font-family: "sunflower";
  src: url("../font/Sunflower/Sunflower-Medium.ttf");
}

* {
  font-family: "sunflower";
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: blue;
  text-align: center;
}

span {
  color: green;
  background-color: antiquewhite;
  /* text-align: right; */
  /*
  span 태그는 인라인 요소이다.
  인라인 요소의 크기는 컨텐츠의 크기와 일치한다.
  딱 맞는 칸에 들어간 요소가 정렬될 수는 없다.
  -> 인라인 요소는 text-align 적용 불가 
   */
}

div {
  background-color: black;
  color: #294163;
  /*
    색을 변경할 때 단순히 색의 이름만 사용하는것이 아니라
    16진수나 rgb값도 사용이 가능하다.
    rgba(0,0,0,0)은 투명도를 설정할 수 있다. 
   */
  color: rgba(255, 0, 0, 0.5);
}

.my-list {
  list-style-type: none;
  /* list-style-type 속성은 리스트앞에 표현하는 
  도형이나 숫자들의 모양을 설정 */
}
